@use "mixins";

@property --grad-top {
  syntax: '<color>';
  inherits: false;
  initial-value: rgb(220, 220, 220);
}
@property --grad-bottom {
  syntax: '<color>';
  inherits: false;
  initial-value: rgb(150, 150, 150);
}

.question {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: #fff;
  height: 100vh;
  scroll-snap-align: center;
  flex: none;
  background-color: var(--grad-top, rgb(220, 220, 220));
  background-image: linear-gradient(180deg, var(--grad-top, rgb(220, 220, 220)) 0%, var(--grad-bottom, rgb(150, 150, 150)) 100%);
  transition: --grad-top 0.3s ease-in, --grad-bottom 0.3s ease-in;

  &--correct {
    --grad-top:#76E0C2;
    --grad-bottom:#59CADA;
    pointer-events: none;
  }

  &--wrong_lv1 {
    --grad-top:rgb(223, 217, 132);
    --grad-bottom:rgb(223, 177, 78);
  }

  &--wrong_lv2 {
    --grad-top:#F6B868;
    --grad-bottom:#EE6B2D;
  }

  &--wrong_lv3 {
    --grad-top:#F1B496;
    --grad-bottom:#EA806A;
  }
  
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
  }

  &__content {
    padding: 72px 16px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__answers {
    max-width: 900px;
    width: 100%;
  }

  @media screen and (max-width: 600px){
    &__content {
      padding-top: 12px;
    }
  }

  @media screen and (max-width: 320px){
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;

    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 160%;
    }

    &__content {
      padding: 16px 16px 64px;
    }
  }
}
